/* app css stylesheet */

body {

}

#view {
  background-color: #ddd;
  border:2px solid;
}

#banner {
  text-align: center;
}

#search {
  margin-top: auto;
  margin-bottom: auto;
  margin-top: 1em;
  margin-bottom: 1em;
}

#keywords_label {

}

#player {
  margin-left: auto;
  margin-right: auto;
  background-color: #ddd;
}

#vid {
  margin-left: auto;
  margin-right: auto;
}

#search {
  text-align: center;
}

#player_background {
  background-color: #111;
}

.clear_hr {
  clear: left;
}

.thumb_img {
}

.thumb_data {
}

.clear_hr {
}

.menu {
