/* app css stylesheet */

#view {
  background-color: #ddd;
}

#banner {
  text-align: center;
}

#fullAlbum {
  margin-top: auto;
  margin-bottom: auto;
}

#search {
  margin-top: auto;
  margin-bottom: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  text-align: center;
}

#player {
  margin-left: auto;
  margin-right: auto;
  background-color: #ddd;
}

#vid {
  margin-left: auto;
  margin-right: auto;
}

.vid_result {
  margin-top: 10px;
}

.clear_hr {
  clear: left;
}

.thumb_img {
}

.thumb_img_img {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.thumb_data {
}

.thumb_data_data {
  background-color: rgba(100, 0, 0, .02);
}

