<div id="header">
	<img src="img/dee.jpg" />
	<h1 id="title">Huzco YouTube Search</h1>
	<div id="search">
		<form ng-submit="search()">
			<input ng-model="query" />
			<input type="submit" id="submit" value="Submit" />
		</form>
	</div>

	<div id="player" />

	<!--ul class="menu">
	    <li><a href="#/main">HOME</a></li>
	    <li><a href="#/contact">CONTACT</a></li>
	</ul -->
</div>


<div id="guts">

	<div id="results">
		<ul class="vids">
			<li ng-repeat="vid in vids">
				<span ng-click="loadVideo($event)" id="{{ vid.id.videoId }}" >
					<img src="{{ vid.snippet.thumbnails.default.url}}" >
					{{vid.snippet.title}}
				</span>
				<p>{{vid.snippet.description}}</p>
			</li>
		</ul>
	</div>

	<div id="footer" />
</div>
