<div id="guts">

	<div id="search">
		<form ng-submit="search()">
			YouTube Search: 
			<input ng-model="query" />
			<input type="submit" id="submit" value="Submit" />
		</form>
	</div>

	<div id="player">
	    <video id="vid" src="" class="video-js vjs-default-skin" controls
	           preload="auto" width="640" height="360">
	    </video>
	</div>

	<div id="results">
		<ul class="vids">
			<li ng-repeat="vid in vids">
				<span ng-click="loadVideo($event)" id="{{ vid.id.videoId }}" >
					<img src="{{ vid.snippet.thumbnails.high.url}}" >
					{{vid.snippet.title}}
				</span>
				<p>{{vid.snippet.description}}</p>
			</li>
		</ul>
	</div>

</div>
