<div id="header">

	<div id="search">
		<form class="form-inline" role="form" ng-submit="search()">
			<label id="keywords_label" for="search_keywords" >Keywords</label>
			<div class="form-group">
				<input id="search_keywords" size="20" type="text" class="form-control" ng-model="query" autofocus="autofocus">
			</div>
			<button type="submit" class="btn btn-primary">Search</button>
			<div class="form-group">
			<label>
			<input is="fullAlbum" type="checkbox" ng-model="fullAlbum">
				Full Album
			</label>
			</div>
		</form>
	</div>

	<div id="player" />
</div>

<div id="guts">

	<ul class="vids list-unstyled">
		<li ng-repeat="vid in vids">
			<div class="vid_result container" ng-click="loadVideo($event.currentTarget.id)" id="{{ vid.id.videoId }}" >
				<div class="thumb_img col-xs-6">
					<img  class="img-responsive thumb_img_img" src="{{ vid.snippet.thumbnails.high.url}}" >
				</div>
				<div class="thumb_data col-xs-6">
					<div class="thumb_data_data"
					<p class"thumb_title lead" >{{vid.snippet.title}}</p>
					<p class="thumb_description small">{{vid.snippet.description}}</p>
				</div>
			</div>
		</li>
	</ul>

	<div id="footer" />
</div>
